.search-container {
  position: relative;
  max-width: 350px;
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 8px 36px 8px 12px;
  border: none; /* No border */
  border-radius: 20px;
  font-size: 14px;
  outline: none; /* Remove the outline */
  transition: none; /* No transition */
}

.search-input:focus {
  border: none;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
  pointer-events: none;
}

.search-container.focused .search-icon {
  color: #888;
}

@media (max-width: 640px) {
  .search-container {
    max-width: 180px;
  }

  .search-input {
    font-size: 12px;
  }

  .search-icon {
    font-size: 16px;
  }
}
